/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f5f9;
    overflow-x: hidden; /* Disable horizontal scrollbar */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-header h2 {
    margin: 0;
}

.section-content {
    padding: 20px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 99;
    transition: background-color 0.3s, transform 0.3s;
}

#scroll-to-top:hover {
    background-color: #0056b3;
}

